*{
    margin: 0px;
}
body{
    background-color: rgb(132, 193, 197);
    
}
.nav-bar{
    background-color: rgb(0, 0, 0);
    position: sticky;
    z-index: 1000;
    max-width:100%;
    padding: 16px 5px;
}
.inner-nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    position: sticky;
    height: 70%;

}
.nav-logo{
   margin: 0 0 0 25px;
   position: relative;
   top: 0px;
    font-size: 14px;
    color: white;
}

.buttons{
    display: flex;
    width: 20%;
    margin-right: 5px 0 0 30px;
    text-align: center;
}
.favourite{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    width: 50%;
    align-content: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.cart{
    background-color: rgb(28, 156, 220);
    color: white;
    border-radius: 5px;
    width: 30%;
    align-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.display-movie{
    margin: 32px 0;
}
.display-container{
    background-color: black;
    height: 360px;
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.slidecrousal{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}
.imageclass{
    object-fit: cover;
    height: 100%;
    width: 100%;

}
.slidecrousal.active{
    display: block;
}
.btn{
    background-color: rgb(37, 19, 19);
    position: absolute;
    color: white;
    margin-top: 180px;
    height: 25px;
    width: 50px;
}
.next{
    right: 45px;
}
.prev{
    left: 45px;
}
/* movie section */

.outer-movie{
    width: 1200px;
    margin: 0 auto;
    background-color: rgb(132, 193, 197);
    padding: 32px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    margin-bottom: 20px auto;

}
.movie-card{

    margin: auto;
    width: 90%;
    background-color: rgb(230, 210, 232);
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.movieposter{
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.info{

    padding: 15px;
}
.movietitle{
    font-size: 18px;
    font-weight: bold;
}
.cardbtn{
    height: 45px;
    width: 100px;
    margin: 8px 0 0 8px;
    border-radius: 10px;
    border: none;
}