*{
    margin: 0px;
}
.nav-bar{
    background-color: rgb(0, 0, 0);
    max-width:100;
    padding: 16px 5px;
}
.inner-nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    position: sticky;
    height: 70%;

}
.nav-logo{
   margin: 0 0 0 25px;
   position: relative;
   top: 0px;
    font-size: 14px;
    color: white;
}

.buttons{
    display: flex;
    width: 20%;
    margin-right: 5px 0 0 30px;
    text-align: center;
}
.favourite{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    width: 50%;
    align-content: center;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}
.cart{
    background-color: rgb(16, 151, 223);
    color: white;
    border-radius: 5px;
    width: 30%;
    align-content: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
}