body{
    background-color: rgb(236, 230, 246);
}
.single-card{
    display: flex;
    flex-direction: row;
}
h1{
    margin-bottom: 61px;
}
.single-poster{
     width: 25%;
    height: 60%;
    border: 2px black solid;
    overflow: hidden;

}
.single-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.single-info{
    margin-left: 35px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}
.single-cart-btn{
    height: 35px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: brown;
    color: white;
}
.single-back-btn{
    height: 35px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(177, 79, 79);
    color: white;
}