#a{
    height: 300px;
    width: 1250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    
}
.a0{
    height: 86%;
    width: 17%;
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: 15px;
}
.a00{
    height: 46%;
    width: 100%;
    border-radius: 14%;
    position: relative;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    
}
.a01{
    height: 26%;
    width: 100%;
    margin-top: 2%;
    display: inline-block;
   
    position: relative;

     display: flex;
    background-color: rgb(255, 255, 255);
    font-size: xx-large;
    line-height: 30px;
    font-weight: 300;
}
.a02{
    height: 26%;
    width: 100%;
    border-radius: 12px;
    margin-top: 2%;
    text-align: center;
    position: relative;
    background-color: rgb(62, 55, 60);
    display: inline-block;
    line-height: 29px;
    font-size: 160%;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 3px green double;
    color: rgb(225, 216, 216);
    
}
#a100{
    background-image: url(range_rover-removebg-preview.png);
    background-size: cover;
}
#a200{
    background-image: url(htaemfb_1823551.webp);
    background-size: cover;
}
#a300{
    background-image: url(mahindra\ be\ 6\ car.avif);
    background-size: cover;
}
#a400{
    background-image: url(mercedes\ g\ wagon.avif);
    background-size: cover;
}
#a500{
    background-image: url(skoda-octavia\ rs\ car.avif);
    background-size: cover;
}
/* #xa{height: 300px;
    width: 300px;
    background-color: blue;
    background-image: url("mercedes\ g\ wagon.avif");
    background-size: contain;
} */
#b{
    width: 100%wh;
    height: 300%vh;
    background-color: aqua;
    display: flex;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 5px;
}
#b0{
    width: 35%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
}
#b1{
    width: 65%;
    background-color: rgb(255, 255, 255);
        display: inline-block;
}