/* .heading{
    color: brown;
}
.divs{
    height: 200px;
    
    background-color: bisque;
}
.box{
    height: 100px;
    width: 100px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 4px rgb(245, 236, 73) solid;
    margin-top: 5px;
}                    
    
                 start practice 2  */


