*{
    padding: 0%;
    margin: 0%;
}
#i{
    width: 106.71px;
    height: 22.4px;
}

#l{
   margin-bottom: 22px;
   width: 105px;
    margin-right: 5px;
    font-size: 15px;
}
#k{
    height: 40px;
    width: 88.9px;
    background-color: rgb(131, 104, 212);
    border: 0px solid black;
    display: inline-block;
    display: flex;
    border-radius: 30;
    margin-bottom: 100px;
    margin-left: 12px;
    padding-right: 20px;
    text-align: center;
    align-items: center;
    /* border-end-start-radius: 30%; */
    /* border-top-right-radius:30% ; */
    border-radius: 30px;
    margin-top: 9px;

    
} 
#navbar{
    background-color: rgb(189, 137, 137);
    background: rgb(255, 255, 255);
    position: relative;
    height: 60px;
    display: flex;
    
}

#c{
    position: relative;
    margin-top: 5px;
    height: 55px;
}
select{
    position: relative;
    margin-left: 25px;
    border-color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
}
a{
    margin-left: 25px;
    text-decoration: none;
    border-color: #ff0000;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 18px;
}   
#j{
    margin-left: 173px;
    margin-top: 18px;
}
#heading{
    display: inline-block;
}
#d{
    margin-left: 180px;
}
#secondnav{
    height: 60px;
    background-color: #E1E2FA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

}
#secdiv{
    width: 220px;
    display: flex;
    flex-direction: row;
}

#number{
    background-color: aliceblue;
    height: 41.33px;
    width: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    border-radius: 10px;
    border: 0px;
    text-align: center;
    margin-top: 4px;
}

#join{
    background-color: aliceblue;
    color: #bebec8;
    height: 40px;
    width: 74.06px;
    margin-left: 8px;
    margin-top: 4px;
    display: flex;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-family: MentiText, Arial, sans-serif;
    
}
#section{
    padding: 64px 32px 0px 32px;
    height: 277.59;
    width: 796;
    background-color: aqua;
}
#heading{
    height: 213.59px;
    display: flex;
    background-color: #ff0000;
    flex-direction: column;
    align-items: center;

}
#heading1{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Arial, sans-serif;
    font-size: 38px;
    font-weight: 400;
    width: 650px;
    height: 38px;
    margin-top: -9px;
    margin-bottom:16px;
    
}

#heading2{
    font-family: mentitext,Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 540px;
    height: 56px;
    margin-bottom: 16px;

}
#get{
    height: 52px;
    width: 202.71px;
    background-color: black;
    border-radius: 40px;
}
#getdiv{
    display: flex;
    height: 87.59px;
    width: 202.71px;
    flex-direction: column;
}
#button{
    color: #ffffff;
}