

button{
    color: rgb(175, 225, 25);
    box-shadow: rgba(212, 0, 255, 0.35) 0px 5px 15px;
    background-color: rgb(11, 65, 119);
}
div{
    background-color: bisque;
    margin: auto;
    padding-bottom: 5px;
    width: 300px;
    box-shadow: rgba(26, 2, 246, 0.35) 0px 5px 15px;
}
#taskinput{
    height: 20px;
    margin-left: 20px;
    border-radius: 6px;
    align-content: center;
    color: rgb(16, 0, 241);
   box-shadow: rgba(0, 255, 13, 0.35) 0px 5px 15px;
    background-color: rgb(162, 202, 125);
}
ul{
list-style: none;
padding: 0px;
font-weight: 500;
font-size: 20px;

margin-left: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    background-color: rgb(101, 195, 195);
    border-radius: 5px;
    padding: 4px;
    margin-top: 4px;
    width: 250px;
}
h1{
    margin-left: 60px;
}