.cardcontainer{
    background-color: rgb(56,164,94);
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    height: auto;
    width: 600px;
}
.Top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.details{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}