.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.parent{

    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.increment{
    background-color: green;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.decrement{
    background-color: rgb(185, 27, 35);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.reset{
    background-color: rgb(28, 45, 234);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.count{font-size: 40px;
}
.multiply{
    background-color: rgb(253, 232, 10);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
