body{
    background-image: url("defender.webp");
    background-size: cover;
}
#formdiv{
    width: 280px;
    background-color: rgb(234, 219, 219);
    display: flex; 
    align-content: center;
    flex-direction: column;
    padding: 0 10px 5px 10px;
    margin: auto;
    margin-top: 150px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.a{
    height: 50px;
    color: rgb(201, 189, 209);
    background-color: rgb(50, 21, 72);
    margin-top: 4px;
    display: flex;
    align-items: center;
}

#btn{
    height: 35px;
    background-color: rgb(59, 58, 55);
    color: white;
}
.removebtn{
    background-color: darksalmon;
    border-radius: 10px;
}
.display{
    color: white;
}