/* 
 #containe{
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;

}
#cart-container{
    display: grid;
    grid-template-columns: repeat(auro-fill,minmax(250px,1fr));
    gap: 20px;
    margin-bottom: 20px;
}
.cart-item{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
     cursor: pointer;
}
.cart-poster{
    width: 100%;
    height: 350px;
    overflow: hidden;
    background-color: cadetblue;
}
.cart-poster-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cart-info{
    padding: 16px;
}
.cart-title{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}
.movie-year{
    color: #666;
    margin-bottom: 8px;
    font-size: 14px;
}
.cart-genre{
    display: inline-block;
    background-color:#667eea ;
    color: white;
    padding: 4px 12px;
    font-size:18px ;
    margin-bottom: 8px;
}
.cart-rating{
     color: goldenrod;
}
.cart-buttons{
    display: flex;
    gap: 8px;
}
.btn{
    flex: 1;
    padding: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}  */
  body{
    background-color: #0f0f0f;
    color: #fff;
    min-width: 100vh;
  }
  nav{
    background-color: #1f1f1f;
    display: flex;
    justify-content: center;
    padding: 15px;
    border-bottom: 1px solid #333;
    gap: 20px;
  }
  nav a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
  }
  #cart-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    padding: 40px;
    gap: 20px;
    justify-content: center;
}
  .cart-item button{
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    border: none;
    background-color: rgb(211, 30, 30);
    border-radius: 5px;
    font-size:14px ;
    font-weight: bold;
  }
  .cart-item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
  }